.auth{
    color:rgba(255, 255, 255, 0.75) !important
}

.searchbar-Section{
    justify-content: center;
    margin-top: 10px !important;
}

.searchbar{
    margin-left: 30px;
    margin-bottom: 20px;
}

.Main-Content{
    margin-top: 0px !important;
}

@media all and (min-width: 900px) {
.searchbar-Section{
    justify-content: flex-end;
    margin-right: 60px!important;
}

.searchbar{
    margin-left: 65px;
    margin-bottom: 20px;
}

}