@media all and (min-width: 900px) {
    .movie-view{
        flex-direction: row !important;
    }
    .movieView-img{
        width: 40% !important;
    }
}

.cardContent{
    height: 80%;
}

.movieView-buttons{
    justify-content: flex-end;
}

.btn{
    margin: 5px;
}

span{
    font-weight: 500;
}

.card-body{
    padding: 3.25rem;
}