$color: steelblue;

.my-flix{
    color:$color
}


div.container {
    max-width: 100%;
}

.director-view img{
    width: 20% !important;
}

div.container{
    padding:0;
    background-color: #343a40;
}

.wordCountLimited{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.movieCard{
    margin-bottom: 20px;
    height: 744px;
}

.auth{
    color: white;
}