.nav-link a{
    color:rgba(255,255,255,.75) !important;
}

.main-nav{
    background-color: black!important;
}

.navbar-brand{
    padding: 0.5rem !important;
    background-color: #fcba03;
    align-self: center;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    color: black !important;
    font-weight: 800;
}